
      <tr>
      	<% if item.completed? %>
          <td><strike><%= item.task %><strike></td>
          <td><strike><%= item.description %><strike></td>
          <td><%= link_to 'Mark as incomplete', list_path(item, item: { completed: "0" }), method: :put %></td>
        <% else %>
          <td><%= item.task %></td>
          <td><%= item.description %></td>
          <td><%= link_to 'Mark as complete', list_path(item, item: { completed: "1" }), method: :put %></td>
          <% end %>
          <td><%= link_to 'Edit', edit_list_item_path(@list) %></td>
          <td><%= link_to 'Delete', list_item_path(:id, :list_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>