<p id="notice"><%= notice %></p>


<table>
<h3>
task Name
</h3>
  <tbody>
    <% @list.items.each do |item| %>
      <tr>
          <td><%= item.task %></td>
          <td><%= item.description %></td>
          <td><%= link_to 'Edit', edit_list_item_path(item, item.list) %></td>
          <td><%= link_to 'Delete', list_item_path(item, item.list), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  </tbody>
</table>

<br>
<%= link_to 'New Item', new_list_item_path(@list) %>
<br>
<%= link_to "Back To All Lists", lists_path %>



